.center {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dark-overlay {
  height: 100%;
}
.landing {
  position: relative;
  /* background: url("./assets/anhxi.JPG") no-repeat center center/cover; */
  background: url("./assets/anhxi.JPG") no-repeat center center;
  background-color: blueviolet;
  height: 100vh;
}
.landing p h1 h4 {
  color: white;
}
.landing-inner form {
  width: 50%;
}

.landing-inner h1,
.landing-inner h4,
.landing-inner p {
  color: white;
  text-align: center;
}
Label {
  color: white;
}
.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.right {
  margin-left: auto;
}
.left {
  margin-right: auto;
  left: 50%;
}
.fullImg {
  width: 100%;
  height: 100px;
}
body {
  width: 100%;
  height: 100%;
}
.btn-group-fab {
  position: fixed;
  width: 50px;
  height: auto;
  right: 20px;
  bottom: 20px;
}
.btn-group-fab div {
  position: relative;
  width: 100%;
  height: auto;
}
.btn-group-fab .btn {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: block;
  margin-bottom: 4px;
  width: 40px;
  height: 40px;
  margin: 4px auto;
}
.btn-group-fab .btn-main {
  width: 50px;
  height: 50px;
  right: 50%;
  margin-right: -25px;
  z-index: 9;
}
.btn-group-fab .btn-sub {
  bottom: 0;
  z-index: 8;
  right: 50%;
  margin-right: -20px;
  -webkit-transition: all 2s;
  transition: all 0.5s;
}
.btn-group-fab.active .btn-sub:nth-child(2) {
  bottom: 60px;
}
.btn-group-fab.active .btn-sub:nth-child(3) {
  bottom: 110px;
}
.btn-group-fab.active .btn-sub:nth-child(4) {
  bottom: 160px;
}
.btn-group-fab .btn-sub:nth-child(5) {
  bottom: 210px;
}
